{% extends 'root.html' %}
{% load static %}
{% block title %}
    Repo
{% endblock %}

{% block form %}

    <center>
    <br>
        <h3>
            Add New Repo
        </h3>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        <br>
            <input type="submit" value="Add">
            {% if exists %}
                <p>Name already taken, please try another one.</p>
            {% endif %}

        </form>

        <hr>

        <h3>
            Update Repo
        </h3>

        <form action="update" method="get">
            {% csrf_token %}
            <label>
                Repo Name
                <input type="text" required name="repo_name">
            </label>
            <input type="submit" value="Update">
        </form>
    </center>

{% endblock %}
